# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.

remote_write:
- url: https://prometheus-prod-13-prod-us-east-0.grafana.net/api/prom/push
  basic_auth:
    username: 1763065
    password: {{ prometheus_grafana_token_pass }}

  # - url: "http://{{ prometheus_grafana_host_address }}:3000/api/prom/push"
  #   basic_auth:
  #     username: admin
  #     password: admin

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'node_cluster'
    file_sd_configs:
      - files:
          - "{{ prometheus_node_exporter_node_dir }}/node.yml"

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.
    metrics_path: '/prometheus/metrics'
