# {{ ansible_managed }}
# my global config
global:
  scrape_interval: {{ prometheus_scinterval }} # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: {{ prometheus_scinterval }} # Evaluate rules every 15 seconds. The default is every 1 minute.
  external_labels:
    server_name: {{ ansible_hostname }}

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093
  
scrape_configs:
  - job_name: 'cluster_node_exporters'  # Имя задания для мониторинга node_exporter
    scrape_interval: {{prometheus_scrape_interval}}
    static_configs:
      - targets:
        {% for host in groups['newmachine'] %}
        - {{ hostvars[host]['ansible_host'] }}:9100
        {% endfor %}  # Адрес второго node_exporter