- targets: 
{% for host in groups['newmachine'] %}
- {{ hostvars[host]['ansible_host'] }}:9100
{% endfor %}
{% for host in groups['newmachine'] %}
- {{ hostvars[host]['ansible_host'] }}:8428
{% endfor %}
  # labels:
  #   instance: {{ ansible_hostname }}