#{{ ansible_managed }}
[Unit]
Description=Prometheus Node Exporter
Documentation=https://github.com/prometheus/node_exporter
Wants=network-online.target
After=network-online.target

[Service]
User=root
EnvironmentFile=/{{ prometheus_template_default_options_node }}
ExecStart={{ prometheus_node_exporter_system_dir }}/node_exporter \
     --web.config.file={{ prometheus_node_exporter_ssl_dir }}/{{ prometheus_node_exporter_ssl_network_conf }} \
     --web.listen-address=":{{ prometheus_node_exporter_port }}"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target