[Unit]
Description=PostgreSQL RDBMS
After=network.target

[Service]
Type=forking
User=postgres
Group=postgres

# Путь к PostgreSQL бинарному файлу
ExecStart=/usr/lib/postgresql/14/bin/pg_ctl start -D /var/lib/postgresql/14/main -s -l /var/log/postgresql/postgresql-14-main.log -o "-c config_file=/etc/postgresql/14/main/postgresql.conf"
ExecStop=/usr/lib/postgresql/14/bin/pg_ctl stop -D /var/lib/postgresql/14/main -s -m fast
ExecReload=/usr/lib/postgresql/14/bin/pg_ctl reload -D /var/lib/postgresql/14/main -s

# Установка прав и каталогов
ExecStartPre=/bin/sh -c 'test -d /run/postgresql || install -d -o postgres -g postgres -m 0755 /run/postgresql'

# Указание на сокет, если необходимо
PIDFile=/run/postgresql/.s.PGSQL.5432

[Install]
WantedBy=multi-user.target