#{{ ansible_managed }}
[Unit]
Description=1C:Enterprise Remote Administration Service
After=network.target remote-fs.target nss-lookup.target
Requires={{ srvr1c_service_name }}
 
[Service]
Type=simple
ExecStart={{ srvr1c_destination }}/ras cluster --port={{ srvr1c_rac_port }}
KillSignal=SIGINT
PrivateTmp=true
Restart=on-failure
RestartSec=5
User={{ srvr1c_rac_user }}
Group={{ srvr1c_rac_group }}
 
[Install]
WantedBy=multi-user.target