#!/bin/sh
### BEGIN INIT INFO
# Provides:          prometheus
# Required-Start:    $remote_fs $network
# Required-Stop:     $remote_fs $network
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start and stop Prometheus
# Description:       Enable service provided by Prometheus.
### END INIT INFO

# Define the path to the Prometheus executable
PROMETHEUS_BIN="/usr/local/bin/prometheus"

# Define the configuration and data directories
CONFIG_FILE="/etc/prometheus/prometheus.yml"
STORAGE_PATH="/var/lib/prometheus/"
CONSOLE_TEMPLATES="/etc/prometheus/consoles"
CONSOLE_LIBRARIES="/etc/prometheus/console_libraries"

# Define the user and group to run Prometheus as
USER="prometheus"
GROUP="prometheus"

# Define the PID file location
PIDFILE="/var/run/prometheus/prometheus.pid"