tls_server_config:
  cert_file: "{{ prometheus_node_exporter_ssl_dir }}/{{ prometheus_node_exporter_ssl_crt }}"
  key_file: "{{ prometheus_node_exporter_ssl_dir }}/{{ prometheus_node_exporter_ssl_key }}"